 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="products">
        <i style="font-size: 30px;" class="fas fa-shipping-fast"></i>
        E Commerce
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item">
                <div class="form-group">
                  <input [(ngModel)]="searchTerm" (keyup)="search($event)" style="width:500px;" type="text" placeholder="Search Product" class="form-control">

                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="products/add-product">Add Product</a></li>

          </ul>
          <form class="d-flex">
              <button class="btn btn-outline-dark" type="submit">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
              </button>
          </form>
      </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
      </div>
  </div>
</header>
